# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Streamlit specific
.streamlit/secrets.toml

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp
*.bak

# User uploads / temp storage
/tmp/
